<style type="text/css">

  .desc {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    position: relative;
    left: 10px;
  }

</style>

<div class="container">
    <p><img src="{{image_url}}"></p>
    <p class="desc">
        <a href="www.unsplash.com"><i>See more at unsplash.com</i></a>
    </p>
</div>
